*{
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
	font-size: 16px;
	width: 100%;
}
nav{
	background: #888;
	display: block;
	height: 3rem;
	position: relative;
}
a{
	text-decoration: none;
}
.logo{
	background: #fff;
	height: 2rem;
	left: 0.5rem;
	position: absolute;
	top: 0.5rem;
	width: 2rem;
}
.name{
	color: #fff;
	font-size: 2rem;
	left: 3rem;
	position: absolute;
	top: 0.5rem;
}

.menu{
	background: #222;
	color: #fff;
	height: 2rem;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	width: 2rem;
}
header{
	padding: 2rem 0;
	text-align: center;
}
h1{
	font-size: 3rem;
	}
h5{
	font-size: 1.5rem;
}
h6{
	font-size: 1.3rem;
}
h1, h5, h6{
	font-weight: bold;
}
.btn-to-portfolio{
	background: #222;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 0.8rem;
	text-align: center;
	width: auto;
}
article{
	padding: 2rem;
}
.about-me{
	background: #adadad;
}
.container-services{
	margin: 0 auto;
    margin-top: 1rem;
    width: 90%;
}
.services{
	text-align: center;
	width: 50%;
	vertical-align: top}

.services:nth-child(odd){
	padding-right: 0.2rem;
}
.services:nth-child(even){
	padding-left: 0.2rem;
}
.services:nth-child(3), .services:nth-child(4){
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}
.services-love{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	}
.img-about{
	background: #222;
	border-radius: 50%;
	margin: 0 auto;
	height: 3rem;
	width: 3rem;
}
.nav-portfolio{
	margin: 0 auto;
	margin-top: 1rem;
	width: 90%;
}
.nav-portfolio a{
	border: #222 1px solid;
	box-sizing: border-box;
	padding: 0.5rem;
}
.galery{
	margin: 0 auto;
	width: 90%;
	background: #adadad;}
.preview{
	background: #888;
	border: #222 1px solid;
	box-sizing: border-box;
	height: 100px;
	text-align: center;
	width: 50%;
	/*vertical-align: top;*/
}
.skills{
	background: #adadad;
}

.frontend, .backend{
	background: #fff;
	margin: 0 auto;
	margin-top: 1rem;
	padding: 1rem;
	width: 90%;
}
.frontend{
	margin-bottom: 1rem;
}
.frontend div figure, .backend div figure{
	width: 30%;
	margin: 0 auto;
	text-align: center;
}
.img-skill{
	background: #222;
	border-radius: 50%;
	height: 3rem;
	margin: 0.7rem 0 0.4rem 0;
	width: 3rem;
}
.tools{
	margin: 0 auto;
	margin-top: 1rem;
	width: 90%;
}
.tool{
	margin: 0 auto;
	text-align: center;
	width: 40%;
}
.img-tool{
	background: #222;
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
}
footer{
	background: #adadad !important;
	padding: 2rem;
}
.form{
	margin: 0 auto;
	padding: 1rem;
	width: 80%;
}
form label{
	display: block;
}
input, textarea{
	font-size: inherit;
    font-family: inherit;
	margin: 1% 0;
	width: 100%;
}
textarea{
    resize: none;
}
.contact{
	margin: 0 auto;
    padding: 1rem;
    width: 80%;
}

.flex-box{
	display: flex;
    display: inline-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.text-center{
	text-align: center;
}

@media (min-width: 768px) {
	header, article, footer{
		padding: 3rem;
	}
	.services:nth-child(odd){
	padding-right: 1rem;
	}
	.services:nth-child(even){
		padding-left: 1rem;
	}
	.services:nth-child(3), .services:nth-child(4){
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.preview{
		width: 33.33%;
	}
	.frontend div figure, .backend div figure{
    	width: 22%;
    }
    .form, .contact {
    	margin: 0 auto;
        width: 40%;
	}
	.contact{
		padding: 2rem 1rem;
	}
}
@media (min-width: 1024px) {
	body{
		font-size: 20px;
	}
	header, article, footer{
		padding: 4rem 5rem;
	}
	nav{
		height: 4rem;
	}
	.logo, .menu{
		height: 3rem;
		width: 3rem;
	}
	.name{
		font-size: 3rem;
    	left: 4rem;
	}
	h1{
		font-size: 4.5rem;
	}
	h5{
		font-size: 2.2rem;
	}
	h6{
		font-size: 1.7rem;
	}
}

@media (min-width: 1200px) {
	header, article, footer{
		padding: 4rem 7rem;
	}
}